//- - var application = [{name: 'application', id: 'formApplication', title : 'Заказать документ', application: true, button: 'Заказать документ', success: 'Ваша заявка отправлена'}]
- var application = [{name: 'application', id: 'formApplication', title : 'Узнать стоимость', application: true, button: 'Узнать стоимость', success: 'Ваша заявка отправлена'}]
//- - var applicationMini = [{name: 'application-mini', id: 'formApplicationMini', title : 'Узнать стоимость', applicationMini: true, button: 'Узнать стоимость', success: 'Ваша заявка отправлена'}]
- var question = [{name: 'question', id: 'formQuestion', question: true,  button: 'Получить консультацию', success: 'Ваш вопрос отправлен'}]
- var call = [{name: 'call', id: 'formCall', title: 'Подскажем, что необходимо именно в Вашей ситуации', call: true, button: 'Узнать стоимость за 30 минут', success: 'Ваша заявка отправлена'}]
- var review = [{name: 'review', id: 'formReview', review: true, button: 'Оставить свой отзыв', success: 'Отзыв успешно оставлен'}]


mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      +e.FORM.form(action='', method='', id= item.id)
        //- +e.A.close(href='#') Закрыть
        +e.H3.title #{item.title}

        //- if item.application
        //-   .form-group.field-question-production.required
        //-     +e.INPUT.input(type='text', name='Продукция', placeholder='Наименование продукции*')
        //-     p.help-block.help-block-error Ошибка заполнения поля формы
        //-   .form-group.field-question-name.required.has-error
        //-     +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
        //-     p.help-block.help-block-error Ошибка заполнения поля формы
        //-   .form-group.field-question-email.required.has-success
        //-     +e.INPUT.input(type='email', name='Email', placeholder='Ваш e-mail*')
        //-     p.help-block.help-block-error Ошибка заполнения поля формы
        //-   .form-group.field-question-phone
        //-     +e.INPUT.input(type='tel', name='Телефон', placeholder='Контактный телефон')
        //-     p.help-block.help-block-error Ошибка заполнения поля формы

        if item.application
          .form-group.field-question-production.required
            +e.INPUT.input(type='text', name='Продукт', placeholder='Ваш продукт или услуга*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-email.required
            +e.INPUT.input(type='text', name='Email или телефон', placeholder='Ваш e-mail или телефон*')
            p.help-block.help-block-error Ошибка заполнения поля формы

        if item.question
          .form-group.field-question-name.required
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-phone.required
            +e.INPUT.input(type='email', name='e-mail', placeholder='Ваш e-mail')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-name.required
            +e.TEXTAREA.textarea(type='text', name='Ваш вопрос', placeholder='Вопрос...')
            p.help-block.help-block-error Ошибка заполнения поля формы
            +b.BUTTON.btn--orange(type='submit') #{item.button}

        if item.call
          .form-group.field-question-name.required
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-phone.required
            +e.INPUT.input(type='email', name='e-mail', placeholder='Ваш e-mail')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-name.required
            +e.INPUT.input(type='text', name='Продукция', placeholder='Ваша продукция или услуга')
            p.help-block.help-block-error Ошибка заполнения поля формы
            +b.BUTTON.btn--blue(type='submit') #{item.button}
          //- .form-group.required
          //-   +e.time
          //-     +e.SPAN.time-text Желаемое время звонка c
          //-     +e.INPUT.input--time(type='time', name='Звонить с')
          //-     +e.SPAN.time-text до
          //-     +e.INPUT.input--time(type='time', name='Звонить до')
          //-   p.help-block.help-block-error Ошибка заполнения поля формы

        if item.review
          .form-group.field-question-name.required
            +e.INPUT.input(type='text', name='Компания и имя', placeholder='Ваше имя и название организации')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.required
            +e.TEXTAREA.textarea(type='text', name='Ваш отзыв', placeholder='Текст отзыва')
            p.help-block.help-block-error Ошибка заполнения поля формы
            +b.BUTTON.btn--orange(type='submit') #{item.button}



        p.help-block.help-block-success #{item.success}
